html, body {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

.nav-center {
    display: flex;
    height: 10vh;
    width: auto;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vh;
    box-shadow: 5px 10px 15px grey;
    background-color: white;
    color: cadetblue;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links a{
    padding: 2vw;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container {
    height: 15vh;
    width: 30vw;
    background-color: black;
    margin: 25vh auto 5vh auto;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 2.7vh;
    font-family: Arial, Helvetica, sans-serif;
}

.color {
    color: cadetblue;
    font-size: 2.7vh;
    font-weight: bold;
}

.btn {
    width: 25vw;
    margin: 5vh;
    width: 10vw;
    background-color: white;
    color: black;
    font-size: 2vh;
    font-weight: bold;
    padding: 2vh 1vw;
    border: solid 3px black;
    border-radius: 5px;
}

